body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #10006d;
    font-size: larger;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.categories {
    display: flex;
    justify-content: space-around;
    background-color: #f0f0f0;
    padding: 10px 0;
}

.category {
    text-align: center;
}

.category p {
    font-weight: bold;
}

.category img {
    width: 100px;
    height: 100px;
}

.banner {
    background-color: #000000;
    padding: 20px;
    text-align: center;
}

.banner h2 {
    margin: 0;
    color: #4b7bff;
    font-weight: bold;
}

.banner-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;

}

.sales {
    color: white;
    font-weight: bold;
    
}

.about-us {
    padding: 12px;
}